.dashboard {
  font-family: $text_format;
  min-height: $main-height + 10vh;

  &__container {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 70%;
    margin: 2rem auto;
  }

  &__main--details {
    margin-top: 1rem;

    li {
      opacity: 0.7;
      margin-bottom: 0.5rem;
    }
  }

  &__bottom,
  &__top {
    padding: 1.5rem;
    background: rgb(233, 233, 233);
  }

  &__bottom {
    margin-top: 2rem;
  }

  &__menu--list li {
    width: 80%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(233, 233, 233);
    cursor: pointer;
  }

  &__account {
    height: 55% !important;
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.title--menu {
  padding-bottom: 1rem;
}

.admin--menu {
  padding-top: 2rem;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.add__product--part1 {
  grid-template-columns: 35% 35% 15%;
  grid-column-gap: 1rem;
}

.add__product--part2 {
  grid-template-columns: 44.5% 44.5%;
  grid-column-gap: 1rem;
}

.add__product--part3 {
  grid-template-columns: 21.1% 21.1% 21.1% 21.1%;
  grid-column-gap: 1rem;
}

.newproduct__container {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.newproduct__title {
  width: 91%;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(204, 204, 204, 0.308);
}

.newproduct__title:first-child {
  margin-top: 0rem;
}

.submit__button {
  width: 75%;
}

.newwood__layout {
  display: grid;
  grid-template-columns: 68% 30%;
}

.top__margin {
  margin-top: 2rem !important;
}

.setting-image {

}

.setting-container {
  width: 96%;
  height: 12rem;
  background: #000 !important;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  margin: 1rem 0;
  padding: 6px 12px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.dropzone {
  width: 90% !important;
  height: 8.4rem !important;
  padding: .5rem;
  border: 3px dashed rgba(0, 0, 0, 0.171) !important;

  &__zone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    background: #ccc;
    border-radius: 3px;

    &--icon {
      color: rgb(128, 128, 128);
      font-size: 2.75rem;
    }
  }
}