.login {
  font-family: $text_format;
  min-height: 70vh;

  &__container {
    @include grid_columns;
    @include form_container
  }

  &__title {
    text-transform: uppercase;
    opacity: 0.75;
    font-weight: bold;
  }

  &__new {
    width: 85%;
    margin-top: 1rem;
    opacity: 0.5;
    line-height: 1.35rem;
  }

  &__button {
    @include button_link;
    outline: none;

    &:hover {
      @include hover;
    }
  }

  &__bold {
    letter-spacing: 1px;
    font-weight: 600;
    font-family: $text_format;
  }

  &__error {
    @include form_error;
  }

  &__error--msg {
    font-family: $text_format;
    margin-top: 1.5rem;
    padding-left: .75rem;
    color: red;
  }
  
  &__confirmation--msg {
    font-family: $text_format;
    margin-top: 1.5rem;
    padding-left: .75rem;
    color: green;
  }
}

input {
  @include submit_button;
}

.error {
  @include border_error;
}

.spinner-rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}