.registration {
   font-family: $text_format;
   min-height: 70vh;

   &__container {
      @include form_container
   }

   &__field {
      @include grid_columns
   }

   &__email>input {
      width: 95% !important;
   }

   &__account {
      margin-top: 2rem;
   }
}

textarea {
   width: 95%;
   margin-top: 1rem;
   padding-left: 1rem;
   padding-top: .75rem;
   font-size: .9rem;
   border: 1px solid #ccc;
   outline: none;
}