.registration {
   font-family: $text_format;
   min-height: 70vh;

   &__container {
      @include form_container
   }

   &__field {
      @include grid_columns
   }

   &__email>input {
      width: 95% !important;
   }

   &__account {
      margin-top: 2rem;
   }
}